<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap-unit.php"
	colors="true"
	beStrictAboutTestsThatDoNotTestAnything="false"
>
	<testsuites>
		<testsuite name="lodestar-unit">
			<directory suffix="Test.php">./tests/Unit</directory>
		</testsuite>
	</testsuites>
</phpunit>
